streamlit==1.37.0
PyPDF2==1.26.0
python-dotenv==0.19.2
pydub==0.25.1
SpeechRecognition==3.8.1
Pillow==8.4.0
imagehash==4.2.1
gTTS==2.2.3
langchain>=0.0.184
faiss-cpu==1.7.2
google-generativeai>=0.3.1,<0.4.0
google-ai-generativelanguage==0.4.0
langchain-google-genai==0.0.3
langchain-core>=0.1,<0.2
langchain-community>=0.0.7