streamlit
PyPDF2
python-dotenv
pydub
SpeechRecognition
Pillow
imagehash
PyMuPDF
gtts
langchain
faiss-cpu
google-generativeai
langchain-google-genai
langchain-core
google-ai-generativelanguage
langchain-community